.git
.github
.git
.github
node_modules
frontend/node_modules
.idea
.vscode
logs
*.log
*.tmp
.DS_Store
.env
.env.local
.classpath
.project
.settings


# Exclude properties files (may contain secrets)
*.properties

